**.html
**.h
**.c
**.so
**.vscode
**.DS_Store
__pycache__
catboost_info

setup_pypi

notes
temp*
output
results
videos

/data/**/*.npy
/data/**/*.arff
/data/**/*.csv
/data/**/*.zip
/data/**/*.data
/data/**/*.names
/data/**/*.txt
/data/**/*.pdf
/data/**/*.xls
/data/**/*.R
/data/**/*.ods
/data/**/*.xlsx
/data/power/CCPP
/data/naval/UCI\ CBM\ Dataset
/data/meps/get_meps_data/
