**.html
**.h
**.c
**.so
__pycache__
catboost_info

notes
temp*

output
output2
results

/data/**/*.npy
/data/**/*.arff
/data/**/*.csv
/data/**/*.zip
/data/**/*.data
/data/**/*.names
/data/**/*.txt
/data/**/*.pdf
/data/**/*.xls
/data/**/*.R
/data/**/*.ods
/data/**/*.xlsx
/data/meps/get_meps_data/
