# C extensions
cython==0.29.23

# data processors
xlrd==2.0.1  # reading excel
openpyxl==3.0.7  # reading excel
mat73==0.50  # reading matlab
numpy==1.23.1
ngboost==0.3.12
scikit-learn==0.24.2
catboost==1.0.6
lightgbm==3.3.2  # if arm64, install using conda-forge
xgboost==1.6.1
torch==1.13.1
pandas==1.4.3
pgbm==1.6
properscoring==0.1

git+https://github.com/JakeColtman/bartpy  # bartpy
uncertainty-toolbox==0.1.0

ninja==1.10.2.3

# visualizers
tqdm==4.61.2
seaborn==0.11.1
matplotlib==3.4.2

# pypi
twine==3.8.0